<div class="container">
  <br><br>
  <div class="row">
    <h1 class="text-danger text-center">{{title}}</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-3">
      <table class="table table-dark">
        <tr>
          <th>Id</th>
          <th>Username</th>
        </tr>
        <tr *ngFor='let o of orders'>
          <td>{{o.id}}</td>
          <td><a class="btn btn-dark" (click)="orderDetails(o.id)">{{o.username}}</a></td>
        </tr>
      </table>
    </div>
    <div class="col-md-9">
      <app-orderdetails (closeDetailEvent)='closeOrderDetails($event)'  *ngIf='showOrderDetails' [order]='selectedOrder'></app-orderdetails>
    </div>
  </div>
</div>